@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://db.onlinewebfonts.com/c/e5cf4323214de97c3428d64ece016410?family=Integral+CF');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


body
{
    font-family: 'Satoshi', sans-serif;
    width: 100%;
}
.integral-font
{
    font-family: "Integral CF" , sans-serif;
}
.outfit-font
{
    font-family: "Outfit" , sans-serif;
}
.container {
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

@media (min-width: 640px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}
.header-brand
{
    
    font-family: "Integral CF" , sans-serif;
    @media screen and (max-width: 767px) {
        font-family: "Outfit" , sans-serif;
    }
}
button
{
    cursor: pointer;
    user-select: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.hero-info {
  @media screen and (min-width: 1024px) and (max-width: 1110px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
body.swal2-shown {
  padding-right: 0 !important;
  overflow: auto !important;
}
